body {
    background-color: #070303;
}

.cabecalho {
    background-color: #7C5E99;
    height: 100px;
}

.cabecalho__menu {
    text-align: center;
}

.cabecalho__menu__link {
    color: white;
    font-size: 25px;
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 10px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
}

#button:hover {
    background-color: pink;
}

.apresentacao {
    padding: 5% 15%;
    /*padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.apresentacao__conteudo__titulo{
    color: rgb(209, 30, 209);
    font-size: 45px;
    margin-top: 0.5em;
}

.apresentacao__conteudo__texto {
    margin: 0;
}

.apresentacao__conteudo__texto__texto {
    font-size: 30px;
    color:#1ebac5;
    margin-top: 0.1em;
}

.apresentacao__imagem {
    width: 30%;
}

.rodape {
    background-color: gray; 
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    color: white;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    gap: 35px
}

.rodape__container {
    margin-left: 150px;  
}

.rodape__email {
    margin-left: 30px;
    margin-bottom: 35px;
   /* display: flex;
    flex-direction: column;*/
}

/*.input__group {
}*/

.email__botao {
    width: 12px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    background-color: rgb(172, 169, 169);
}
