/*
body {
    background-color: orange;
}

.cabecalho {
    background-color: #7C5E99;
}

.cabecalho__menu {
    background-color: #000000;
    text-align: right;
    width: 600px;
}

.cabecalho__menu__link {
    color: white;
    font-size: 20px;
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    background-color: #F25A70;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000000;
}
*/

body {
    background-color: #070303;
}

.cabecalho {
    background-color: #7C5E99;
    height: 100px;
}

.cabecalho__menu {
    text-align: center;
}

.cabecalho__menu__link {
    color: white;
    font-size: 25px;
    font-family: Fira Code, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 10px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
}

#button:hover {
    background-color: pink;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:15px; 
}

.apresentacao__conteudo__titulo {
   color: rgb(209, 30, 209);
   font-size: 45px;
}

.apresentacao__conteudo__texto {
    color: #1ebac5;
    font-size: 30px;
    margin-top: 1px;
    /*text-indent: 1.5em;*/
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.apresentacao__links__subtitulo {
    color: rgb(211, 105, 211);
    font-weight: 400;
    font-size: 35px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #51cfd8;
    width:40%;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: #62cad1;
}

.apresentacao__imagem {
    width: 30%;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: #62cad1;
}

.apresentacao__imagem {
    width: 30%;
}
